*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'needle', sans-serif;
    background-image: url('coeur.avif');
    background-repeat: no-repeat;
    background-size: cover;
}

h1
{
    color: red;
    display: flex;
    justify-content: center;
    font-size: 80px;
}

p
{
    color: lavender;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid lavender;
}
h2
{
    color: lavenderblush;
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin-top: 20px;
    border: 2px solid lavenderblush;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}

button {
    padding: 10px 20px;
    font-size: 36px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}